.swal2-popup {
  border-radius: 20px;
}
.swal2-title {
  font-size: 24px !important;
  font-weight: bold;
  color: #4B4B4B;
}
.swal2-content {
  font-size: 16px;
  color: #666;
}

.swal2-popup button.swal2-confirm {
  color: white;
  padding: 10px 28px !important;
  border-radius: 8px;
}

.swal2-popup button.swal2-cancel {
  background: white;
  padding: 10px 28px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 8px;
}

.swal2-popup button.swal2-close {
  color: var(--gray-80);
  border-radius: 20px;
}

.swal2-popup button.swal2-close:hover {
  transition: all 0.3s ease;
  color: var(--gray-120);
  opacity: 0.7;
}